# Movie Rating Prediction with Stacked Autoencoders in PyTorch

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable
from sklearn.model_selection import train_test_split

In [2]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

cuda

In [3]:
ratings = pd.read_csv('ratings_small.csv')#, engine = 'python')

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
ratings.drop(["timestamp"], axis=1)

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [6]:
movieMax = max(ratings["movieId"])
movieMax

163949

In [7]:
userMax = max(ratings["userId"])
userMax

671

In [8]:
user1 = ratings.loc[ratings["userId"] == 4]
user1

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645
148       4       34     5.0  949919556
149       4      112     5.0  949810582
150       4      141     5.0  949919681
151       4      153     4.0  949811346
..      ...      ...     ...        ...
346       4     3251     5.0  949918970
347       4     3255     4.0  949919738
348       4     3263     3.0  949919845
349       4     3265     5.0  949895732
350       4     4006     2.0  949982238

[204 rows x 4 columns]

In [9]:
movieMin = min(ratings["movieId"])
movieMin

1

In [10]:
id_movies = ratings.loc[ratings["userId"] == 2]["movieId"]
id_movies

20     10
21     17
22     39
23     47
24     50
     ...
91    592
92    593
93    616
94    661
95    720
Name: movieId, Length: 76, dtype: int64

In [11]:
id_ratings = list(ratings.loc[ratings["userId"] == 2]["rating"])
id_ratings

[4.0,
 5.0,
 5.0,
 4.0,
 4.0,
 3.0,
 3.0,
 4.0,
 3.0,
 5.0,
 4.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 5.0,
 1.0,
 3.0,
 3.0,
 3.0,
 4.0,
 4.0,
 5.0,
 5.0,
 3.0,
 4.0,
 3.0,
 4.0,
 3.0,
 4.0,
 2.0,
 1.0,
 3.0,
 4.0,
 4.0,
 3.0,
 3.0,
 3.0,
 3.0,
 2.0,
 3.0,
 3.0,
 3.0,
 3.0,
 2.0,
 3.0,
 4.0,
 3.0,
 4.0,
 2.0,
 4.0,
 3.0,
 3.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 3.0,
 3.0,
 5.0,
 3.0,
 5.0,
 3.0,
 3.0,
 3.0,
 5.0,
 5.0,
 5.0,
 3.0,
 3.0,
 4.0,
 4.0]

In [12]:
def convert(data):
    new_data = []
    for user in range(1, max(ratings["userId"]+1)):
        id_movies = data.loc[ratings["userId"] == user]["movieId"]
        id_ratings = data.loc[ratings["userId"] == user]["rating"]
        userRatings = np.zeros(movieMax)
        userRatings[id_movies-1] = id_ratings
        new_data.append(userRatings)
    return(new_data)

In [13]:
ratings = convert(ratings)

In [14]:
ratings = np.asarray(ratings)
ratings

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [15]:
x_train ,x_test = train_test_split(ratings, test_size=0.2)

In [16]:
len(x_train[1])

163949

In [17]:
len(x_test)

135

In [18]:
x_train = torch.FloatTensor(x_train)
x_test= torch.FloatTensor(x_test)

In [19]:
class SAE(nn.Module):
    def __init__(self, nb_movies):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [20]:
sae = SAE(movieMax)

In [21]:
#sae.to(device)

In [22]:
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [23]:
len(x_train)

536

In [24]:
#x_train.to(device)
#x_test.to(device)
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(len(x_train)):
        #x_train.to(device)
        input1 = Variable(x_train[id_user]).unsqueeze(0)
        target = input1.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input1)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = movieMax/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt((loss.data)*mean_corrector)
            s += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: tensor(3.7701)
epoch: 2 loss: tensor(3.7362)
epoch: 3 loss: tensor(3.6991)
epoch: 4 loss: tensor(3.6607)
epoch: 5 loss: tensor(3.6206)
epoch: 6 loss: tensor(3.5783)
epoch: 7 loss: tensor(3.5331)
epoch: 8 loss: tensor(3.4845)
epoch: 9 loss: tensor(3.4320)
epoch: 10 loss: tensor(3.3751)
epoch: 11 loss: tensor(3.3134)
epoch: 12 loss: tensor(3.2469)
epoch: 13 loss: tensor(3.1760)
epoch: 14 loss: tensor(3.1031)
epoch: 15 loss: tensor(3.0316)
epoch: 16 loss: tensor(2.9639)
epoch: 17 loss: tensor(2.9011)
epoch: 18 loss: tensor(2.8429)
epoch: 19 loss: tensor(2.7890)
epoch: 20 loss: tensor(2.7388)
epoch: 21 loss: tensor(2.6919)
epoch: 22 loss: tensor(2.6478)
epoch: 23 loss: tensor(2.6064)
epoch: 24 loss: tensor(2.5672)
epoch: 25 loss: tensor(2.5302)
epoch: 26 loss: tensor(2.4950)
epoch: 27 loss: tensor(2.4616)
epoch: 28 loss: tensor(2.4297)
epoch: 29 loss: tensor(2.3994)
epoch: 30 loss: tensor(2.3703)
epoch: 31 loss: tensor(2.3425)
epoch: 32 loss: tensor(2.3159)
epoch: 33 loss: tensor(2.2903)
epoch: 34 loss: tensor(2.2658)
epoch: 35 loss: tensor(2.2422)
epoch: 36 loss: tensor(2.2195)
epoch: 37 loss: tensor(2.1976)
epoch: 38 loss: tensor(2.1766)
epoch: 39 loss: tensor(2.1562)
epoch: 40 loss: tensor(2.1366)
epoch: 41 loss: tensor(2.1176)
epoch: 42 loss: tensor(2.0992)
epoch: 43 loss: tensor(2.0815)
epoch: 44 loss: tensor(2.0643)
epoch: 45 loss: tensor(2.0476)
epoch: 46 loss: tensor(2.0315)
epoch: 47 loss: tensor(2.0158)
epoch: 48 loss: tensor(2.0006)
epoch: 49 loss: tensor(1.9859)
epoch: 50 loss: tensor(1.9716)
epoch: 51 loss: tensor(1.9576)
epoch: 52 loss: tensor(1.9441)
epoch: 53 loss: tensor(1.9309)
epoch: 54 loss: tensor(1.9181)
epoch: 55 loss: tensor(1.9057)
epoch: 56 loss: tensor(1.8935)
epoch: 57 loss: tensor(1.8817)
epoch: 58 loss: tensor(1.8702)
epoch: 59 loss: tensor(1.8589)
epoch: 60 loss: tensor(1.8480)
epoch: 61 loss: tensor(1.8373)
epoch: 62 loss: tensor(1.8269)
epoch: 63 loss: tensor(1.8167)
epoch: 64 loss: tensor(1.8067)
epoch: 65 loss: tensor(1.7970)
epoch: 66 loss: tensor(1.7875)
epoch: 67 loss: tensor(1.7782)
epoch: 68 loss: tensor(1.7692)
epoch: 69 loss: tensor(1.7603)
epoch: 70 loss: tensor(1.7516)
epoch: 71 loss: tensor(1.7431)
epoch: 72 loss: tensor(1.7348)
epoch: 73 loss: tensor(1.7267)
epoch: 74 loss: tensor(1.7187)
epoch: 75 loss: tensor(1.7109)
epoch: 76 loss: tensor(1.7033)
epoch: 77 loss: tensor(1.6958)
epoch: 78 loss: tensor(1.6885)
epoch: 79 loss: tensor(1.6813)
epoch: 80 loss: tensor(1.6742)
epoch: 81 loss: tensor(1.6673)
epoch: 82 loss: tensor(1.6605)
epoch: 83 loss: tensor(1.6539)
epoch: 84 loss: tensor(1.6474)
epoch: 85 loss: tensor(1.6409)
epoch: 86 loss: tensor(1.6347)
epoch: 87 loss: tensor(1.6285)
epoch: 88 loss: tensor(1.6224)
epoch: 89 loss: tensor(1.6164)
epoch: 90 loss: tensor(1.6106)
epoch: 91 loss: tensor(1.6048)
epoch: 92 loss: tensor(1.5992)
epoch: 93 loss: tensor(1.5936)
epoch: 94 loss: tensor(1.5882)
epoch: 95 loss: tensor(1.5828)
epoch: 96 loss: tensor(1.5775)
epoch: 97 loss: tensor(1.5723)
epoch: 98 loss: tensor(1.5672)
epoch: 99 loss: tensor(1.5622)
epoch: 100 loss: tensor(1.5572)
epoch: 101 loss: tensor(1.5524)
epoch: 102 loss: tensor(1.5476)
epoch: 103 loss: tensor(1.5428)
epoch: 104 loss: tensor(1.5382)
epoch: 105 loss: tensor(1.5336)
epoch: 106 loss: tensor(1.5291)
epoch: 107 loss: tensor(1.5247)
epoch: 108 loss: tensor(1.5203)
epoch: 109 loss: tensor(1.5160)
epoch: 110 loss: tensor(1.5118)
epoch: 111 loss: tensor(1.5076)
epoch: 112 loss: tensor(1.5035)
epoch: 113 loss: tensor(1.4994)
epoch: 114 loss: tensor(1.4954)
epoch: 115 loss: tensor(1.4915)
epoch: 116 loss: tensor(1.4876)
epoch: 117 loss: tensor(1.4837)
epoch: 118 loss: tensor(1.4800)
epoch: 119 loss: tensor(1.4762)
epoch: 120 loss: tensor(1.4726)
epoch: 121 loss: tensor(1.4689)
epoch: 122 loss: tensor(1.4653)
epoch: 123 loss: tensor(1.4618)
epoch: 124 loss: tensor(1.4583)
epoch: 125 loss: tensor(1.4549)
epoch: 126 loss: tensor(1.4515)
epoch: 127 loss: tensor(1.4481)
epoch: 128 loss: tensor(1.4448)
epoch: 129 loss: tensor(1.4415)
epoch: 130 loss: tensor(1.4383)
epoch: 131 loss: tensor(1.4351)
epoch: 132 loss: tensor(1.4320)
epoch: 133 loss: tensor(1.4289)
epoch: 134 loss: tensor(1.4258)
epoch: 135 loss: tensor(1.4228)
epoch: 136 loss: tensor(1.4198)
epoch: 137 loss: tensor(1.4168)
epoch: 138 loss: tensor(1.4139)
epoch: 139 loss: tensor(1.4110)
epoch: 140 loss: tensor(1.4081)
epoch: 141 loss: tensor(1.4053)
epoch: 142 loss: tensor(1.4025)
epoch: 143 loss: tensor(1.3998)
epoch: 144 loss: tensor(1.3971)
epoch: 145 loss: tensor(1.3944)
epoch: 146 loss: tensor(1.3917)
epoch: 147 loss: tensor(1.3891)
epoch: 148 loss: tensor(1.3865)
epoch: 149 loss: tensor(1.3839)
epoch: 150 loss: tensor(1.3813)
epoch: 151 loss: tensor(1.3788)
epoch: 152 loss: tensor(1.3763)
epoch: 153 loss: tensor(1.3739)
epoch: 154 loss: tensor(1.3714)
epoch: 155 loss: tensor(1.3690)
epoch: 156 loss: tensor(1.3666)
epoch: 157 loss: tensor(1.3643)
epoch: 158 loss: tensor(1.3619)
epoch: 159 loss: tensor(1.3596)
epoch: 160 loss: tensor(1.3573)
epoch: 161 loss: tensor(1.3551)
epoch: 162 loss: tensor(1.3528)
epoch: 163 loss: tensor(1.3506)
epoch: 164 loss: tensor(1.3484)
epoch: 165 loss: tensor(1.3462)
epoch: 166 loss: tensor(1.3441)
epoch: 167 loss: tensor(1.3419)
epoch: 168 loss: tensor(1.3398)
epoch: 169 loss: tensor(1.3377)
epoch: 170 loss: tensor(1.3357)
epoch: 171 loss: tensor(1.3336)
epoch: 172 loss: tensor(1.3316)
epoch: 173 loss: tensor(1.3296)
epoch: 174 loss: tensor(1.3276)
epoch: 175 loss: tensor(1.3256)
epoch: 176 loss: tensor(1.3237)
epoch: 177 loss: tensor(1.3218)
epoch: 178 loss: tensor(1.3198)
epoch: 179 loss: tensor(1.3179)
epoch: 180 loss: tensor(1.3161)
epoch: 181 loss: tensor(1.3142)
epoch: 182 loss: tensor(1.3124)
epoch: 183 loss: tensor(1.3105)
epoch: 184 loss: tensor(1.3087)
epoch: 185 loss: tensor(1.3069)
epoch: 186 loss: tensor(1.3051)
epoch: 187 loss: tensor(1.3034)
epoch: 188 loss: tensor(1.3016)
epoch: 189 loss: tensor(1.2999)
epoch: 190 loss: tensor(1.2982)
epoch: 191 loss: tensor(1.2965)
epoch: 192 loss: tensor(1.2948)
epoch: 193 loss: tensor(1.2931)
epoch: 194 loss: tensor(1.2915)
epoch: 195 loss: tensor(1.2898)
epoch: 196 loss: tensor(1.2882)
epoch: 197 loss: tensor(1.2866)
epoch: 198 loss: tensor(1.2850)
epoch: 199 loss: tensor(1.2834)
epoch: 200 loss: tensor(1.2818)

In [25]:
#sae.to("cpu")

In [27]:
# Testing the SAE
test_loss = 0
s = 0.
for id_user in range(1, len(x_train)):
    input = Variable(x_train[id_user]).unsqueeze(0)
    target = Variable(x_test[id_user])
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data[0]*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

IndexError: The shape of the mask [163949] at index 0 does not match the shape of the indexed tensor [1, 163949] at index 0